body {
  background: #141414;
  color: #ffffff;
}
.card {
  width: 18rem;
  margin: 10px;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  top: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

@media (min-width: 576px) {
  .card-group.card-group-scroll {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}

.card-group.card-group-scroll > .card {
  flex-basis: 35%;
}
